*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/google-services.json
/app/src/main/AndroidManifest.xml
/app/src/main/java/com/morfitimelocal/application/Constants.kt
/app/src/main/java/com/morfitimelocal/core/BaseViewModel.kt
/app/src/main/java/com/morfitimelocal/data/
/app/src/main/java/com/morfitimelocal/domain/
/app/src/main/java/com/morfitimelocal/presentation/
/app/src/main/java/com/morfitimelocal/ui/MainActivity.kt
/app/src/main/java/com/morfitimelocal/ui/login/
/app/src/main/java/com/morfitimelocal/ui/place/account/
/app/src/main/java/com/morfitimelocal/ui/place/home/
/app/src/main/java/com/morfitimelocal/ui/place/sector/
/app/src/main/java/com/morfitimelocal/ui/place/ubication/